@using LCPS.v2015.v001.NwUsers.LcpsComputers;

@model ComputerInfo


@{
    ViewBag.Title = "ArchiveComputer";
    Layout = "~/Areas/Computers/Views/Shared/_Layout.cshtml";
}

<h2>Archive Computer</h2>



