


<select id="DDL1">
    <option>DDL 1- OPT 1</option>
    <option>DDL 1- OPT 2</option>
    <option>DDL 1- OPT 3</option>
    <option>DDL 1- OPT 4</option>
</select>

<select id="DDL2">
    <option>DDL 2- OPT 1</option>
    <option>DDL 2- OPT 2</option>
    <option>DDL 2- OPT 3</option>
    <option>DDL 2- OPT 4</option>
</select>


