@using LCPS.v2015.v001.NwUsers.HumanResources.DynamicGroups;

@model IEnumerable<StaffClauseGroup>

<style>
    #clause-list
    {
        border-width: 0;
        border-collapse: collapse;
    }

    #clause-list tr td{
        padding: 0 18px 4px 0;
    }
</style>

<table id="clause-list">
    @foreach (StaffClauseGroup g in @Model)
    {
        <tr>
            <td>
                @if (@Model.ToList().IndexOf(g) > 0)
                {
                    @g.GroupConjunction
                }
                else
                {
                    <span>&nbsp;</span>
                }
            </td>
            <td style="white-space:nowrap">
                <span class="text-warning">@g.ToString()</span><br />
            </td>
            <td>
                <a href="@Url.Action("RemoveStaffClause", "DynamicStaffGroup", new { area = "HumanResources", @id = g.RecordId })" onclick="return confirm('Are you sure you want to remove this clause?');">Delete</a>
            </td>
        </tr>

    }
</table>