@using Anvil.v2015.v001.Domain.Entities.DynamicFilters;

@using LCPS.v2015.v001.NwUsers.Filters;


@model DynamicStudentFilter

<table class="table table-hover table-striped">
    <tr>
        <th>Clause</th>
        <th></th>
    </tr>
    @foreach (IDynamicQueryClause c in Model)
    {
        <tr>
            <td>
                @c.ToFriendlyString()
            </td>
            <td>
                <a href="@Url.Action("DeleteStudentClause", "Contacts", new { area = "My", id = c.ClauseId })">Delete</a>
            </td>
        </tr>
    }
</table> 
