
@using LCPS.v2015.v001.NwUsers.LcpsLdap.LdapObjects;
@using LCPS.v2015.v001.WebUI.Areas.LcpsLdap.Models;

@model LcpsAdsOu

<p>@Html.DisplayFor(model => model.AdsPath)</p>
<p>@Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayFor(model => model.Description)</p>

