@using LCPS.v2015.v001.NwUsers.LcpsLdap.LdapObjects;
@using LCPS.v2015.v001.WebUI.Areas.LcpsLdap.Models;

@model OUTreeModel


<div id="lcps-ads-tree">
    <ul>
        <li class="domain">
            <a class="parenta">
                <i class="fa fa-folder-open"></i>&nbsp;
                @Model.Domain.Name
            </a>
            
            <ul>
                @Html.Partial("~/Areas/LcpsLdap/Views/LdapObjects/_OUTreeChildren.cshtml", Model.Tree.RootNode.Children)
            </ul>
        </li>
    </ul>
</div>