@using LCPS.v2015.v001.WebUI.Areas.LcpsLdap.Models;

@model OUTreeModel

    @{
        ViewBag.Title = "OUs";
        Layout = "~/Areas/LcpsLdap/Views/Shared/_StaffLdapLayout.cshtml";
    }

    <script type="text/javascript">

        $(document).ready(function () {
        setTimeout(function() {
            // Slide
            $('#lcps-ads-tree > ul a.parenta + li').slideToggle('slow');

            ouId = '#' + getp("ouId");

            $(ouId).slideDown();


        }, 250);

        $('#lcps-ads-tree > ul a').click(function () {

            if ($(this).hasClass("parenta")) {
                $(this).next("ul").slideUp();
            }
            else {
                $(this).next('ul').slideDown() //opening the next li which is the title you wanted
                    .siblings('ul').slideUp(); //find all the other li's and slide up
            }
            $(this).toggleClass('parenta').toggleClass('collapsed');
        });
        });

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
</script>

    <h2>OUs</h2>

<div class="col-md-5">
    @Html.Partial("_OUTree", Model)
</div>
<div class="col-md-7">
    @if(Model.CurrentOu != null)
    { 
        @Html.Partial("_OUDetail", Model.CurrentOu)
    }
</div>