.lcps-front-button
{
    display: inline-block;
    border: solid 1pt Black;
    border-radius: 12px;
    padding: 32px;
    font-size: 48px;
    text-align: center;
    min-width: 220px;
    margin: 0 24px;
}

.lcps-front-button-caption {
    font-size: 18px;
}