@using LCPS.v2015.v001.WebUI.Areas.LcpsLdap.Models;

@model OuTreeModel

<button class="btn btn-link" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Create Template</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create OU Template</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_OuTree", Model)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

