@using LCPS.v2015.v001.NwUsers.LcpsLdap;
@using LCPS.v2015.v001.NwUsers.LcpsLdap.LdapObjects;
@using LCPS.v2015.v001.NwUsers.LcpsLdap.LdapTemplates;
@using LCPS.v2015.v001.WebUI.Areas.LcpsLdap.Models;

@model OUTemplateViewModel

@{
    ViewBag.Title = "OU Templates";
    Layout = "~/Areas/LcpsLdap/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $('.t-node').click(function () {
            var tId = $(this).attr("id");

            var url = "/LcpsLdap/LdapOuTemplate/CreateOuTemplate";

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    id: tId
                },
                error: function (response) {
                    stat.html(response.responseText);
                },
                success: function (response) {
                    if (response.length >= 4 && response.substr(1, 2) == "ul") {
                        stat.addClass("panel panel-danger");
                        hdr.html('Error');
                        bdy.prepend(response);

                        stat.show('slow');
                    }
                    else {
                        $('#myModal').modal('toggle');
                        window.location.replace('/LcpsLdap/LdapOuTemplate/EditTemplate/?id=' + tId);
                    }
                }
            });
        });
    })
</script>

<h2>OU Membership Templates</h2>



@Html.Partial("_OUTemplateCreate", Model.CreateTemplateTree)

<p></p>

@Html.Partial("_OuTemplateList", Model.GetTemplates())