@using LCPS.v2015.v001.NwUsers.LcpsComputers;
@using LCPS.v2015.v001.WebUI.Areas.Computers.Models;

@model ComputerLookupModel

@using (Html.BeginForm("Lookup", "Computers", new { area = "Computers" }, FormMethod.Post))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(model => model.ComputerName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ComputerName, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </div>
}
