@using LCPS.v2015.v001.WebUI.Areas.Students.Models;
@using PagedList;
@using PagedList.Mvc;
@using LCPS.v2015.v001.NwUsers.Students;
@using LCPS.v2015.v001.NwUsers.Filters;

@model PagedList<StudentRecord>

@{
    ViewBag.Title = "Students";
    Layout = "~/Areas/Students/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Page = Request.QueryString["page"];
}

<script>
    $(function () {
        $('#stu-toggle').change(function () {
            $('#stu-list').toggle('slow', function () {
                $('#stu-list').toggleClass('fa-angle-double-up fa-angle-double-down');
            });
        });
    })</script>

<h2>Students</h2>

<a id="stu-toggle" style="cursor: pointer;">Student Filter <i class="fa fa-angle-double-up"></i></a>
<div id="stu-list">
    @Html.Partial("_studentFilterClause", Session["StudentClauseFilterModel"])
</div>

<p>Total: @ViewBag.Total</p>

@Html.Partial("_studentList", Model)