@using LCPS.v2015.v001.WebUI.Areas.Students.Models;
@using PagedList;
@using PagedList.Mvc;
@using LCPS.v2015.v001.NwUsers.Students;
@using LCPS.v2015.v001.NwUsers.Filters;

@model PagedList<StudentRecord>

@{
    ViewBag.Title = "Students";
    Layout = "~/Areas/Students/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Page = Request.QueryString["page"];
}

<h2>Students</h2>

@Html.Partial("_studentFilterClause", Session["StudentClauseFilterModel"])

<p>Total: @ViewBag.Total</p>

@Html.Partial("_studentList", Model)