@using LCPS.v2015.v001.WebUI.Areas.Students.Models;
@using PagedList;
@using PagedList.Mvc;

@model StudentClauseFilterModel

@{
    ViewBag.Title = "Students";
    Layout = "~/Areas/Students/Views/Shared/_StudentLayout.cshtml";
}


<h2>Students</h2>

@Html.Partial("_studentFilterClause", Model)




<p>Total: @ViewBag.Total</p>