@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Google/Views/Shared/_Layout.cshtml";
}

<h2>Google Connect</h2>


<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <span class="control-label">Email Address</span>
        @Html.TextBox("EmailAddress", "matthew.early@k12lcps.org", new { @class = "form-control" })
    </div>
    <div class="form-group form-group-sm">
        <a href="@Url.Action("Connect", "GoogleConnect", new { area = "Google" })" class="btn btn-sm btn-info">Connect</a>
    </div>
</div>
