
@{
    ViewBag.Title = "EmailNotify";
    Layout = "~/Areas/My/Views/Shared/_Layout.cshtml";
}

<h2>Email Notify</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        LCPS IntRanet Account Confirmation
    </div>
    <div class="panel-body">
        An account confirmation was sent to your LCPS email. Please confirm your account by following the instructions in the email.
    </div>
</div>

