@using LCPS.v2015.v001.WebUI.Infrastructure;
@using LCPS.v2015.v001.WebUI.Models;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@LcpsDbContext.Application.AppName</h1>
    <p class="lead">@LcpsDbContext.Application.MissionStatement</p>
</div>


@if (User.IsInRole("APP-Admins") | User.IsInRole("HR-Managers"))
{
    @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "HumanResources",
    Controller = "HRStaffPositions",
    Action = "Index",
    CssClass = "fa fa-apple",
    Text = "Faculty / Staff"
})

}

@if (User.IsInRole("APP-Admins") | User.IsInRole("HR-Managers"))
{
    @Html.Partial("_HugeButtonPartial", new LcpsMvcHugeButtonModel()
{
    Area = "Students",
    Controller = "Student",
    Action = "Index",
    CssClass = "fa fa-graduation-cap",
    Text = "Students"
})

}


