@using LCPS.v2015.v001.NwUsers.Filters;
@using LCPS.v2015.v001.WebUI.Areas.My.Models;
@using LCPS.v2015.v001.NwUsers.HumanResources.Staff;

@model IEnumerable<StaffFilterClause>

<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>Clause</th>
        <th></th>
    </tr>
    @foreach (StaffFilterClause c in Model)
    {
        <tr>
            <td>@c.ToString()</td>
            <th><a href="@Url.Action("DeleteStaffClause", "Contacts", new { area = "My", id = c.StaffFilterClauseId })" onclick="return confirm('Are you sure you want to delete this clause?');"><i class="fa fa-remove"></i> &nbsp; Delete </a></th>
        </tr>
    }
</table>
